body{
    background-color: beige;
}

header{
    text-align: center;
    font-family: fantasy;
    background-color: gray;
    -webkit-text-stroke-color: whitesmoke;
}

h2{
    text-align: center;
}
p{
    text-align: center;
    font-family: fantasy;
    color: red;
}